.img_banner{
    width: 100%;
    background-color: #FFA8AD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_banner img{
    max-width:  800px;
}

.container_adopt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adop-main{
    display: flex;
    align-items: center;
}

.adop-main p{
    font-family: Typo-round;
    font-size: 20px;
    color: gray;
}