@font-face {
    font-family: typo-round ;
    src: url('../fonts/Typo_Round_Regular_Demo.otf');
}

.sections{
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 2rem;
    display: grid ;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
}

.sections button{
    width: 150px;
    height: 250px;
    background-color: transparent;
    border: none;
}

button h1{
    font-family: typo-round ;
    font-size: 20px;
    color: #841917;
    margin: 0.5rem;
}

button h2{
    font-family: typo-round ;
    font-size: 15px;
    color: #979797;  
}

.button_todos {
    max-width: 140px;
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */ 
}

.perros{
    max-width: 140px;
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */
}

.gatos{
    max-width: 120px ;
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */
    margin-bottom: 1rem;
}

.aves{
    margin-top: -15px;
    max-width: 130px;
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */
    margin-bottom: 1rem;
}

.peces{
    max-width: 140px;
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */
    margin-bottom: 1rem;
}

.otros{
    max-width: 110px;
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */
    margin-bottom: 1rem;
}

.todos{
    max-width: 135px;
        -webkit-filter: grayscale(1); /* Webkit */
        filter: gray; /* IE6-9 */
        filter: grayscale(1); /* W3C */
        margin-bottom: 1rem;
    
}

.todos:hover{
    -webkit-filter: grayscale(0); /* Webkit */
    filter: none; /* IE6-9 */
}

.perros:active, .gatos:active, .aves:active, .peces:active, .otros:active, .todos:active{
    -webkit-filter: grayscale(0); /* Webkit */
    filter: none; /* IE6-9 */
}

.tarjetas_prueba{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items:center;
}

@media (max-width:964px) {
    .tarjetas_prueba{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:628px) {
    .tarjetas_prueba{
        grid-template-columns: repeat(1,1fr);
    }

    
}

@media (max-width:1112px) {
    .sections{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width:768px) {
    .sections{
        grid-template-columns: repeat(2,1fr);
    }
}
