@font-face {
    font-family: typo-round ;
    src: url('../fonts/Typo_Round_Regular_Demo.otf');
}

.nav_var{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.logo_marck{
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 120px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0 0 20px 20px;
    box-shadow: 4px 6px 11px 0px #797979;
}

.car_icon_menu img{
    width: 50px;
    cursor: pointer;
}


@media (max-width: 814px) {
}

.menu_lateral{
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 964px) {
    .link_home, .link_about, .link_adopt, .link_shop, .link_blog{
        display: none;
    }

    .cartAndMenuLateral{
        display: flex;
        gap: 2rem;
    }

}

@media (min-width:964px) {
    .container-menu{
        display: none;
    }

    .menu_lateral{
        display: none;
    }
}

.principal_menu ul{
    font-family: typo-round;
    font-size: 20px;
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

.link_element {
    color: #841917;
    text-decoration: none ;
}


.link_element:hover{
   text-decoration: underline;
}

.shop_buttom{
    font-family: typo-round;
    font-size: 20px;
    color: white;
    background-color: #00C0FF;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

.shop_buttom:hover{
    background-color: #7C0190;
    text-decoration: none;
}

.cart_icon{
    width: 50px;
    cursor: pointer;
}

.button_menu-icon{
    width: 40px;
}

.label_menu{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#btn-menu{
    display: none;
}

.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 250px;
    height: 50vh;
    top: 0;
    right: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #7C0190;
    height: 50vh;
    position: relative;
    transition: all 500ms ease;
}

.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.link_element_lateral{
    text-decoration: none;
    color: white;
}

.lateral_menu li{
    font-family: typo-round;
    font-size: 20px;
    margin-left: 2rem;
    list-style: none;
    margin: 0 auto;
}

.shop_buttom_lateral{
    font-family: typo-round;
    font-size: 20px;
    color: rgb(0, 174, 255);
    background-color: #ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

.cont-menu label{
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-family: typo-round ;
}

.cart_products-container{
    display: block;
}


.hiden-cart{
    display: none;
}

.overlay-modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,192,255,0.8);
    display:flex;
    align-items: center;
    justify-content: center;
}

.conten_modal-cart{
    background-color: #ffffff;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    border-radius: 20px;
    margin-top: 10px;
    width: 400px;
    box-shadow: 0px 5px 5px 0px #006cd0;

}

.content-productsInCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border-bottom: 2px solid rgb(186, 227, 233);
    padding-bottom: 1rem;
}


.container-products_incart{
    display: flex;
}

.button-deleteandagree{
    display: flex;
    gap: 1rem;
}

.button-deleteandagree button{
    background-color: transparent;
    border: 2px solid rgba(0,192,255,0.8);
    font-family: typo-round ;
    color: rgba(0,192,255,0.8);
    font-family: typo-round;
    font-size: 20px;
    border-radius: 12px;
    width: 35px;
    height: 30px;
}

.button-deleteandagree button:hover{
    background-color:  rgba(0,192,255,0.8);
    color: white;
    border: none;
}



.content-productsInCart h1{
    padding: 1rem;
    color: #00C0FF;
    font-family: typo-round ;
}

.close_modal{
    position: absolute;
    background-color: transparent;
    border: none;
    top: 10px;
    right: 20px;
    opacity: 0.5;
    cursor: pointer;
}

.close_modal img{
    width: 25px;
}

.close_modal:hover{
    opacity: 1;
}

.car-button-list{
position: relative;
}

.conter-products{
    background-color: #7C0190;
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.clearcart-button{
    font-family: typo-round;
    font-size: 20px;
    color: white;
    background-color: #7C0190;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 10px;
    border: none;
    margin-bottom: 1rem;
}

.clearcart-button:hover{
    background-color: transparent;
    border: 2px solid #7C0190;
    font-family: typo-round ;
    color: #7C0190;
    font-family: typo-round;
}


.whstapp-button{
    font-family: typo-round;
    font-size: 20px;
    color: white;
    width: 70%;
    background-color: #00C0FF;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 10px;
    border: none;
    margin-bottom: 1rem;
}

.whstapp-button:hover{
    background-color: transparent;
    border: 2px solid rgba(0,192,255,0.8);
    font-family: typo-round ;
    color: rgba(0,192,255,0.8);
    font-family: typo-round;
}

.Wahtsapp-react{
    background-color: transparent;
    border: none;
}

